
/*icons on white background*/

.fa-id-card-o:before, .fa-heart-o:before {
  -webkit-text-stroke: 2px white;
}

.fa-diamond:before, .fa-id-card-o:before, .fa-envelope-0:before {
  -webkit-text-stroke: 3px white;
}


/*icons on secondary background*/

/*.fa-snowflake-o:before, .fa-spinner:before, .fa-moon-o:before, .fa-meh-o:before {
  -webkit-text-stroke: 2px $secondary;
}*/
