.beta-lounge h1, h4, h5, h2, h6{
  font-family: 'cardo', serif;
}

.beta-lounge h2, h6{
  font-style: italic
}

.beta-lounge p {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.beta-lounge {
  background-image: url('../img/green-leaves-plant.jpg');
  height: 100%;
  background-color: #003333;
/*  background-repeat: no-repeat;
*/  background-size: auto 1600px;
}

.beta-lounge footer {
  background-color: rgba(33,37,41,.5)
}

.beta-lounge #instructions {
/*background-color: #edefee;*/
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgba(237, 239, 238, .80);
  color:#0a0f0f;
  border-style: double;
  border-width: thick;
  border-color: #0a0f0f;
}

body.beta-lounge #password input {
  margin-top: 35%;
  width: 350px;
}

.reserve {
    opacity: 0;
}

.fadein {
    opacity:1;
   -webkit-transition: opacity 6s;
   -moz-transition: opacity 6s;
   -o-transition: opacity 6s;
   transition: opacity 6s;
}
input {
  text-align: center;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

